In [1]:
import pandas as pd

In [12]:
# Tidy Data: A foundation for wrangling in pandas
# specify values for each column; variable is saved in its own column
# specify values for each row: Eash observation is saved in its own row

In [13]:
variable_df = pd.DataFrame({"a":[1,4,7, "x"],
                  "b":[2,5,8,0],
                  "c":[3,6,9,"#"]})
variable_df.head()

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
3  x  0  #

In [14]:
record_df = pd.DataFrame([
                            [1,2,3],
                            [4,5,6],
                            [7,8,9],
                            ["X",0,"#"]
                        ])
record_df.head()

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
3  X  0  #

In [20]:
variable_df = pd.DataFrame({"a":[1,4,7, "x"],
                  "b":[2,5,8,0],
                  "c":[3,6,9,"#"]},
                   index = [1,2,3,4])
variable_df.head()

   a  b  c
1  1  2  3
2  4  5  6
3  7  8  9
4  x  0  #

In [22]:
record_df = pd.DataFrame([
                            [1,2,3],
                            [4,5,6],
                            [7,8,9],
                            ["X",0,"#"]],
                            index=[1,2,3,4])
record_df.head()

   0  1  2
1  1  2  3
2  4  5  6
3  7  8  9
4  X  0  #

In [42]:
# pd melt
# gather clumns into rows
variable_df = pd.DataFrame({"a":[1,4,7, "x"],
                  "b":[2,5,8,0],
                  "c":[3,6,9,"#"]},
                   index = [1,2,3,4])
#variable_df.head()
pd.melt(variable_df)

   variable value
0         a     1
1         a     4
2         a     7
3         a     x
4         b     2
5         b     5
6         b     8
7         b     0
8         c     3
9         c     6
10        c     9
11        c     #

In [49]:
 (variable_df[1],[a])

KeyError: 1

In [47]:
variable_df = pd.DataFrame({"a":[1,4,7, "x"],
                  "b":[2,5,8,0],
                  "c":[3,6,9,"#"]}
#                            ,                   index = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
                          )
pd.melt(variable_df)

   variable value
0         a     1
1         a     4
2         a     7
3         a     x
4         b     2
5         b     5
6         b     8
7         b     0
8         c     3
9         c     6
10        c     9
11        c     #

In [63]:
tuple = ('A','B','C','D')
print(tuple)
type(tuple)

print(tuple[0])
print(tuple.index(0))

('A', 'B', 'C', 'D')
A

ValueError: tuple.index(x): x not in tuple

In [58]:
#print(tuple.help)
tuple.remove('D')
#tuple.pop('D')
print(tuple)

AttributeError: 'tuple' object has no attribute 'remove'